.popup
    .popup__wrapper
        .popup__close
        .popup__container
            .feedback
                h3.feedback__title Связаться с нами
                .feedback__desc Оставьте заявку и наш менеджер свяжется с вами для обсуждения вашего проекта
                form.feedback__form
                    label.feedback__label
                        input(placeholder="Ваше имя" type="text" name="name")
                    label.feedback__label
                        input(placeholder="Телефон" type="text" name="phone")
                    label.feedback__label
                        input(placeholder="Почта" type="text" name="mail")
                    .feedback__submit-block
                        input.feedback__submit(type="submit" value="Оставить заявку")
                        p.feedback__small-text Отправляя данную форму, вы соглашаетесь с <a href="#">политикой обработки персональных данных</a>

footer.footer
    .container
        .footer__grid
            .footer__column
                p © Юр.лицо (ООО “БТЗ”)
                p Разработка сайта – <a href="#">«Решение»</a>

            .footer__column.footer__column--flex-end
                a(href="#") Политика конфиденциальности

            .footer__column
                a.phone(href="tel:84012430063") +7 (4012) 43-00-63
                p 236034, Россия, г. Калининград, ул. Дзержинского, 168