header.header
    .container.container--full
        .header__wrapper
            .header__logo
                a(href="/")
                    img(src="static/images/common/logo-dark.svg")
            .header__menu
                .hamburger
                    .hamburger__line
                nav.menu-top
                    .menu-top__wrapper
                        ul.menu-top__list
                            - var menu = [{name:"О компании", link:"about.html"},{name:"Продукция и услуги", link:"services.html"},{name:"Новости", link:"news.html"},{name:"Сотрудничество", link:"partnership.html"},{name:"Контакты", link:"contacts.html"}];
                            
                            each item in menu
                                li.menu-top__item
                                    a(href=`${item.link}`).menu-top__link= item.name
            .header__lang
                .lang
                    ul.lang__list
                        li.lang__item.active
                            a(href="ru/") RU
                        li.lang__item
                            a(href="en/") EN
            .header__button
                a#popup(href="#")
                    <svg viewBox="0 0 34 23" xmlns="http://www.w3.org/2000/svg"><path d="M33.882 2.005a1.046 1.046 0 00-.042-.212C33.674.784 32.84 0 31.786 0H2.12C1.066 0 .231.784.066 1.793c-.024.07-.034.14-.043.212-.002.04-.023.074-.023.114v19.072c0 .04.021.076.023.117.009.072.02.14.043.21.163 1.006 1 1.792 2.053 1.792h29.667c1.054 0 1.89-.786 2.054-1.795.023-.07.034-.138.042-.21.002-.038.024-.074.024-.114V2.119c0-.04-.022-.074-.024-.114zm-2.829.114l-11.76 8.625-2.34 1.716-2.338-1.714s-.002 0-.002-.002L2.853 2.119h28.2zM2.12 4.211l10.155 7.446L2.12 19.102V4.21zm.733 16.98l11.215-8.22 2.259 1.657a1.053 1.053 0 001.254 0l2.259-1.657 11.214 8.22h-28.2zm28.934-2.09l-10.154-7.444 10.154-7.446V19.1z" fill="#fff"/></svg>
                    span Оставить заявку
                


