mixin nav()
    .navigation
        .navigation__arrows
        span.navigation__arrow.navigation__arrow--prev.navigation__arrow--disabled
        .navigation__pages
            a.navigation__page.navigation__current-page 1
            a.navigation__page(href="#") 2
            a.navigation__page(href="#") 3
            a.navigation__page(href="#") 4
        a(href="catalog.html").navigation__arrow.navigation__arrow--next.navigation__arrow--disabled