extends layout/minor
include ../ui-kit/ui-product/index

block variables
	-var title = 'Главная страница'

block content
	section.confidential-section
		.page
			.container
				h2.title.title--large политика конфиденциальности
				p Политика конфиденциальности персональной информации (далее — Политика) действует в отношении всей информации, которую акционерное общество «ИНВЕСТИЦИОННЫЙ МЕТАЛЛУРГИЧЕСКИЙ СОЮЗ» (далее АО «ИМС») может получить о Пользователе во время использования им любого из сайтов, сервисов, служб, программ, продуктов или услуг АО «ИМС» (далее — Сервисы) и в ходе исполнения АО «ИМС» любых соглашений и договоров с Пользователем.
				p Использование Сервисов сайта АО «ИМС» означает безоговорочное согласие Пользователя с настоящей Политикой и указанными в ней условиями обработки его персональной информации, в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сервисов.
				p 1. Персональная информация Пользователей, которую обрабатывает АО «ИМС».
				p 1.1. В рамках настоящей Политики под «персональной информацией Пользователя» понимаются:
				p 1.1.1. Персональная информация, которую Пользователь предоставляет о себе самостоятельно при регистрации (создании учётной записи) или в процессе использования Сервисов. Обязательная для предоставления Сервисов сайта информация помечена специальным образом. Иная информация предоставляется Пользователем на его усмотрение.
				p 1.1.2. Данные, которые автоматически передаются Сервисам сайта АО «ИМС» в процессе их использования с помощью установленного на устройстве Пользователя программного обеспечения, в том числе IP-адрес, данные файлов cookie, информация о браузере Пользователя (или иной программе, с помощью которой осуществляется доступ к Сервисам), технические характеристики оборудования и программного обеспечения, используемых Пользователем, дата и время доступа к Сервисам, адреса запрашиваемых страниц и иная подобная информация.
				p 1.1.3. Иная информация о Пользователе, обработка которой предусмотрена условиями использования отдельных Сервисов сайта АО «ИМС».
				p 1.2. Настоящая Политика применима только к информации, обрабатываемой в ходе использования Сервисов сайта АО «ИМС».
			