block variables
	-var title = 'Квадратные стальные электросварные трубы'

block content
	.new
		.new__date 9 окт. 2020
		h2.title Квадратные стальные электросварные трубы
	
		.new__picture
			img(src="static/images/content/new-1.png")

		.new__desc
			p Весной Индустриальный парк Штальверк начал готовить площадку под будущее производство, на участок была подведена электроэнергия, а в этом месяце завершился процесс установки станков.
			p - Параллельно с установкой оборудования начались работы по проведению маркетингового исследования рынка трубного проката, софинансирование которого проект получает от Фонда "Центр поддержки предпринимательства Калининградской области" - комментирует исполнительный директор кластера Юлия Соломатина. - И к моменту запуска производства завод уже будет иметь четкий план действий, включая работу на экспорт.

		a(href="news.html").button.button--small Назад к списку 

		script(src="static/js/new.js")