@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face('Fira Sans', '../fonts/FiraSans-Thin.ttf', 100, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-ThinItalic.ttf', 100, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-ExtraLight.ttf', 200, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-ExtraLightItalic.ttf', 200, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-Light.ttf', 300, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-LightItalic.ttf', 300, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-Regular.ttf', 400, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-Italic.ttf', 400, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-Medium.ttf', 500, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-MediumItalic.ttf', 500, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-SemiBold.ttf', 600, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-SemiBoldItalic.ttf', 600, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-Bold.ttf', 700, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-BoldItalic.ttf', 700, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-ExtraBold.ttf', 800, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-ExtraBoldItalic.ttf', 800, 'italic');

@include font-face('Fira Sans', '../fonts/FiraSans-Black.ttf', 900, 'normal');
@include font-face('Fira Sans', '../fonts/FiraSans-BlackItalic.ttf', 900, 'italic');
