// Colors
$white: #fff;
$black: #18191B;
$blue: #124F9D;
$gray: #808080;
$lightgray: #F1F1F1;

// Sizes
$base-font: 14px;
$normal-font: 16px;

$small: 576px;
$medium: 768px;
$large: 992px;
$extralarge: 1200px;

$content: 1158px;

// Fonts
