.section-404 {
    height: 100%;
    padding-bottom: 100px;
}

.page-404 {
    height: 100%;

    .container {
        height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    &__number {
        color: #5F5F5F;
        font-weight: 600;
        font-size: 358.538px;
        line-height: 131.5%;
        font-size: 100px;
        opacity: 0.3;
    }

    &__title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 20px;
        line-height: 131.5%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    &__desc {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
        color: #5F5F5F;
        margin-bottom: 30px;
    }

    &__link {
        a {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            color: $blue;
        }
    }
}

@media (min-width:$medium){
    .page-404 {
        &__number {
            line-height: 1;
            font-size: 358.538px;
        }

        &__title {
            font-size: 34px;
        }

        &__desc {
            font-size: 22px;
            max-width: 570px;
            line-height: 36px;
        }

        &__link {
            a {
                font-size: 22px;
                line-height: 36px;
            }
        }
    }
}