.grid {
    margin-bottom: 20px;
    
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    &__title {
        font-style: normal;
        font-weight: 600;
        font-size: 21px;
        line-height: 120%;
        text-transform: uppercase;
        letter-spacing: 0.03em;

        .blue {
            color: $blue;
        }
    }
}

@media(min-width:$large) {

    .grid {
        &__list {
            display: grid;
            grid-gap: 30px;

            &-2 {
                grid-template-columns: 377px 1fr;
            }
        }

        &__title {
            font-size: 43px;
            line-height: 131.5%;
        }

        &__column {
            p {
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 36px;
            }

            &--flex-center {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
    }
}