.logos {
    &__list {
        display: flex;
        align-items: center;

        &--grid-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 15px;
        }
    }

    &__item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

@media(min-width:$medium) {
    .logos {
        margin-top: 50px;
        margin-bottom: 10px;
        
        &__item {
            margin-right: 60px;
        }

        &__list {
            &--grid-2 {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}