.team {
    margin-bottom: 40px;

    &__item {
        max-width: 70vw;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__picture {
        height: 85vw;
        width: 100%;
        margin-bottom: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__title {
        font-size: 14px;
        line-height: 131.5%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #000000;
        font-weight: 600;
        margin-bottom: 5px;
    }

    &__desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.4;
        color: #5F5F5F;
    }
}

@media (min-width:$small) {
    .team {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
        &__picture {
            height: 55vw;
            max-height: 457px;
        }
    }
}

@media (min-width:$medium) {
    .team {
        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }

        &__picture {
            height: 55vw;
            max-height: 457px;
        }

    }
}

@media (min-width:$large) {
    .team {
        &__list {
            grid-template-columns: 1fr 1fr 1fr;
        }
        &__picture {
            height: 40vw;
            max-height: 457px;
        }

        &__title {
            font-size: 20px;
        }

        &__desc {
            font-size: 18px;
        }
    }
}